:root{
    font-size: 62.5%;
	--color-primario-ceroTres:rgba(207, 226, 255, 0.3);
}
.carousel-indicators {
    position: relative;
    padding: 0;
    margin: 0;
}
.carousel-indicators [data-bs-target] {
    /*tamaño*/
    flex: 0 1 auto;
    height: 100%;
    min-height: 10rem;
    width: 33%;

    /* Layout*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    text-indent: 0px;
    cursor: pointer;    
}
.accordion-item{
    width: 25vw;
}
/* MD breakpoint*/
@media (min-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-50 { width: 50%!important; }
}

/*Propios*/
img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.inicio__sesion{
    font-size: 3.5rem;
}
#precios{
    min-height: 50vh;
}
.check{
    color: green;
}
.err{
    color: darkred;
}
#producto{
	background-color: var(--color-primario-ceroTres);
	width: 100%;
	min-height: 70vh;
}
#faq{
    min-height: 50vh;
	width: 100%;
	background-color: var(--color-primario-ceroTres);
}
#faq .acordeon{
	width: 50vw;
}
#faq .acordeon article{
	width: 100%;
}
#footer a{
    text-decoration: none;
    color: black;
}





#login__register .form button{
    cursor: pointer;
}

#login__register .form h1 {
	font-weight: bold;
	margin: 0;
}

#login__register .form h2 {
	text-align: center;
}

#login__register .form p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

#login__register .form span {
	font-size: 12px;
}

#login__register .form a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#login__register .form .buttons {
	border-radius: 20px;
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#login__register .form .buttons:active {
	transform: scale(0.95);
}

#login__register .form .form .buttons:focus {
	outline: none;
}

#login__register .form .ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#login__register .form .form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#login__register .form input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

#login__register .form .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

#login__register .form .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

#login__register .form .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

#login__register .form .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

#login__register .form .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#login__register .form .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}