/*Ajustando mi web y mis variables*/
:root{
    font-size: 62.5%;
	--color-primario-ceroTres:rgba(207, 226, 255, 0.3);
	--ancho-default: 100%;
	--bs-secondary-rgb: 255, 142, 0;
}
/*Editando clases de bootstrap*/
.btn-secondary {
	--bs-btn-bg: #FF8E00;
	--bs-btn-border-color: #FF8E00;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #FF8E00;
	--bs-btn-hover-border-color: #FF8E00;
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #FF8E00;
	--bs-btn-active-border-color: #FF8E00;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #FF8E00;
	--bs-btn-disabled-border-color: #FF8E00;
  }
.carousel-indicators {
    position: relative;
    padding: 0;
    margin: 0;
}
.carousel-indicators [data-bs-target] {
    /*tamaño*/
    flex: 0 1 auto;
    height: 100%;
    min-height: 10rem;
    width: 33%;

    /* Layout*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    text-indent: 0px;
    cursor: pointer;    
}
.accordion-item{
    width: 25vw;
}
/* MD breakpoint*/
@media (min-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-50 { width: 50%!important; }
}

/*Propios*/
img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.inicio__sesion{
    font-size: 3.5rem;
}
#precios{
    min-height: 50vh;
}
.check{
    color: green;
}
.err{
    color: darkred;
}
#producto{
	background-color: var(--color-primario-ceroTres);
	width: var(--ancho-default);
	min-height: 70vh;
}
#faq{
    min-height: 50vh;
	width: var(--ancho-default);
	background-color: var(--color-primario-ceroTres);
}
#faq .acordeon{
	width: 50vw;
}
#faq .acordeon article{
	width: var(--ancho-default);
}
#footer a{
    text-decoration: none;
    color: black;
}
#login__register .form a {
	text-decoration: none;
}

#login__register .form input {
	background-color: #eee;
	border: none;
	padding: 1.2rem 1.5rem;
	margin: .8rem 0;
	width: var(--ancho-default);
}